<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Career Sync</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
</head>
<body>
    <p>
    <a href="/"><img src="/static/Logo.png" alt="Career Sync"></a>
    <nav>
            <div className="container">
              <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <form action="/career" method="GET"><br>
                <li><button href="/career" id="careerpredict">Predict Now</li>
                </form>
              </ul>
            </div>
          </nav>

          <section id="home">
          <div className="container">
            <h3>Welcome to Career Sync</h3>
            <p>Discover your ideal career path with Career Sync.
                <br>Our machine learning model analyzes your intelligence scores <br>to recommend 
                the best profession for you. <br><br><br>Click on the "Predict Now" button to get started.</p> 
          </div>
          </section>

          <section id="about">
          <div className="container">
            <h3>About Career Sync</h3>
            <p> Career Sync uses AI to match your unique skills to a wide range of professions. 
                <br>Whether you're a student or a professional looking for a career change, <br>we're here to guide you.</p>
          </div>
          </section>

          <section id="contact">
          <div className="container">
            <p>For any queries, reach out to us at:
                <br>careersync@gmail.com
            </p>
          </div>
          </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>